.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/
.turbo/



# 1. По умолчанию игнорируем всё внутри .obsidian
content/.obsidian/

# 2. Разрешаем отслеживать файлы конфигурации (список плагинов, горячие клавиши и внешний вид)
!content/.obsidian/community-plugins.json
!content/.obsidian/hotkeys.json
!content/.obsidian/appearance.json

# 3. Запрещаем ненужные системные файлы, кэш и историю вкладок (workspace)
content/.obsidian/workspace.json
content/.obsidian/workspace-mobile.json
content/.obsidian/cache/
content/.obsidian/backups/

# 4. Разрешаем загрузку только пяти конкретных плагинов и всего их содержимого
!content/.obsidian/plugins/
content/.obsidian/plugins/*
!content/.obsidian/plugins/obsidian-excalidraw-plugin/**
!content/.obsidian/plugins/obsidian-git/**
!content/.obsidian/plugins/obsidian-tasks-plugin/**
!content/.obsidian/plugins/quickadd/**
!content/.obsidian/plugins/templater-obsidian/**
