.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/
.turbo/



# 1. Блокируем файлы конфигурации в корне .obsidian, но НЕ трогаем саму папку plugins
content/.obsidian/*.json
content/.obsidian/themes/
content/.obsidian/cache/

# 2. Блокируем вообще ВСЕ плагины внутри папки plugins по умолчанию
content/.obsidian/plugins/*

# 3. Принудительно открываем доступ ТОЛЬКО к нужным пяти папкам
!content/.obsidian/plugins/obsidian-excalidraw-plugin/
!content/.obsidian/plugins/obsidian-git/
!content/.obsidian/plugins/obsidian-tasks-plugin/
!content/.obsidian/plugins/quickadd/
!content/.obsidian/plugins/templater-obsidian/
